name: Build

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v2

      - name: Expose GitHub cache to user scripts
        uses: crazy-max/ghaction-github-runtime@v3

      - name: Build
        run: |
          docker buildx bake --print
          docker buildx bake --load

      - name: Check
        run: docker compose run php
